services:
  php:
    image: php:8.4-fpm
    container_name: php-fpm
    env_file: .env
    environment:
      MYSQL_HOST: mysql
    volumes:
      - ./src:/var/www/html
      - uploads_data:/var/www/uploads
      - ./php.ini:/usr/local/etc/php/php.ini
    command: >
      sh -c "apt-get update &&
      apt-get install -y msmtp &&
      docker-php-ext-install pdo_mysql &&
      chown -R www-data:www-data /var/www/uploads &&
      chmod -R 775 /var/www/uploads &&
      php-fpm"

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./src/public:/var/www/html
      - uploads_data:/var/www/uploads
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  mysql:
    image: mysql:9.3
    container_name: mysql
    env_file: .env
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "8025:8025"
      - "1025:1025"

volumes:
  db_data:
  uploads_data:
