body {
	font-family: monospace;
	font-size: large;
}

.post {
	border: 3px solid black;
	padding: 20px;
	margin-bottom: 50px;
}

.post .image {
	max-width: 250px;
	max-height: 250px;
	width: auto;
	height: auto;
}

.comments-container {
	border: 3px solid black;
	padding: 20px;
	margin-bottom: 50px;
}

#upload-container {
	margin-bottom: 20px;
}

#galleries-container {
	display: flex;
	align-items: center;
	border: 3px solid black;
	padding: 20px;
	margin-bottom: 50px;
}

.gallery .image {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	margin-right: 20px;
}

#studio-container {
	border: 3px solid black;
	padding: 20px;
}

#webcam {
	max-width: 500px;
	max-height: 500px;
	border: 2px solid black;
}

#webcam-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#canvas-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#webcam-canvas {
	display: none;
}

#canvas-frame {
	max-width: 500px;
	max-height: 500px;
	border: 2px solid black;
}

.author {
	font-weight: bold;
}

.success {
	color: green;
}

.info {
	color: blue;
}

.error {
	color: red;
}

#webcam-error, #canvas-error {
	display: none;
	color: red;
	text-align: center;
}

#webcam-success, #canvas-success {
	display: none;
	color: green;
	text-align: center;
}

#input-error {
	display: none;
	color: red;
}